<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %> 
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <%- include('../partials/navbar-admin') %> 

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <!-- <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
      <span class="brand-text font-weight-light">Solevivor Administrator</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="/adminIndex" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-header">PRODUCT MANAGEMENT</li>
          <li class="nav-item menu-open">
            <a href="/products" class="nav-link active">
              <i class="nav-icon fas fa-cube"></i>
              <p>Products</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/categories" class="nav-link">
              <i class="nav-icon fas fa-columns"></i>
              <p>Products Category</p>
            </a>
          </li>
          <li class="nav-header">ORDER MANAGEMENT</li>
          <li class="nav-item">
            <a href="/orders-admin" class="nav-link">
              <i class="nav-icon fas fa-shopping-cart"></i>
              <p>Orders</p>
            </a>
          </li>
          <li class="nav-header">USER MANAGEMENT</li>
          <li class="nav-item">
            <a href="/users" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Users</p>
            </a>
          </li>
          <li class="nav-header">ACCOUNT MANAGEMENT</li>
          <li class="nav-item">
            <a href="/user-profile" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>My Profile</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">
              <i class="nav-icon fas fa-arrow-right"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </nav>
    </div>
  </aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Products</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/adminIndex">Home</a></li>
              <li class="breadcrumb-item active">Products</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <a href="/add-product" class="btn btn-primary">Add Product</a>
              </div>
              <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th width="8%" class="text-center">Price</th>
                    <th class="text-center">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% if(products.length > 0){ %> 
                      <% products.forEach(prod=> { %>
                        <tr>
                          <td>SOLEVIVOR-2023-000<%= prod.productid %></td>
                          <td><%= prod.productname %></td>
                          <td><%= prod.categoryname %></td>
                          <td class="text-end">₱ <%= prod.productprice.toLocaleString() %></td>
                          <td class="text-center">
                            <div style="display: inline-block;">
                              <a href="/viewProduct/<%= prod.productid %>" class="btn btn-primary btn-sm" onclick=""><i class="fas fa-eye"></i></a>
                            </div>

                            <div style="display: inline-block;">
                              <% if(prod.isfeatured == 0){ %>
                                <form action="/displayProduct" method="POST">
                                   <input type="hidden" name="id" value="<%= prod.productid%>">
                                   <button type="submit" onclick="return confirm('Are you sure to display it?')" class="btn btn-warning btn-sm me-1" onclick=""><i class="fas fa-check"></i></button>
                                </form>
                              <%}else{ %>
                                <form action="/hideProduct" method="POST">
                                   <input type="hidden" name="id" value="<%= prod.productid %>">
                                   <button type="submit" onclick="return confirm('Are you sure to undisplay it?')" class="btn btn-warning btn-sm me-1" onclick=""><i class="fas fa-times mx-1"></i></button>
                                </form>
                              <% } %>
                            </div>

                            <div style="display: inline-block;">
                              <a href="/productEdit/<%= prod.productid %>" class="btn btn-success btn-sm" onclick=""><i class="fas fa-edit"></i></a>
                            </div>
                            
                            <div style="display: inline-block;">
                              <form action="/deleteProduct" method="POST">
                                <input type="hidden" name="id" value="<%= prod.productid%>">
                                <button type="submit" onclick="return confirm('Are you sure to delete?')" class="btn btn-danger btn-sm me-1" onclick=""><i class="fas fa-trash"></i></button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      <% }); %>  
                    <% }%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Footer -->
  <%- include('../partials/footer') %> 

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
</div>

  <!-- Scripts -->
  <%- include('../partials/scripts') %> 

    <% if (typeof (success) !== 'undefined'){ %>
    <script>
      Swal.fire({
        title: "Success",
        icon: "success",
        text: "<%= success  %>",
        button: "Okay",
      });
    </script>
    <% } %>

    <% if (typeof (error) !== 'undefined'){ %>
      <script>
        Swal.fire({
          title: "Not Inserted",
          icon: "error",
          text: "<%= error  %>",
          button: "Okay",
        });
      </script>
    <% } %>

    <script>
      function setTwoNumberDecimal(event) {
        this.value = parseFloat(this.value).toFixed(2);
      }
    </script>
</body>
</html>
