<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %> 
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <%- include('../partials/navbar-admin') %> 

  <!-- Sidebar -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="index3.html" class="brand-link">
      <!-- <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
      <span class="brand-text font-weight-light">Solevivor Administrator</span>
    </a>

    <div class="sidebar">
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="/adminIndex" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-header">PRODUCT MANAGEMENT</li>
          <li class="nav-item">
            <a href="/products" class="nav-link">
              <i class="nav-icon fas fa-cube"></i>
              <p>Products</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/categories" class="nav-link">
              <i class="nav-icon fas fa-columns"></i>
              <p>Products Category</p>
            </a>
          </li>
          <li class="nav-header">ORDER MANAGEMENT</li>
          <li class="nav-item">
            <a href="/orders-admin" class="nav-link">
              <i class="nav-icon fas fa-shopping-cart"></i>
              <p>Orders</p>
            </a>
          </li>
          <li class="nav-header">USER MANAGEMENT</li>
          <li class="nav-item menu-open">
            <a href="/users" class="nav-link active">
              <i class="nav-icon fas fa-users"></i>
              <p>Users</p>
            </a>
          </li>
          <li class="nav-header">ACCOUNT MANAGEMENT</li>
          <li class="nav-item">
            <a href="/user-profile" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>My Profile</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">
              <i class="nav-icon fas fa-arrow-right"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </nav>
    </div>
  </aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Orders</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/adminIndex">Home</a></li>
              <li class="breadcrumb-item active">Orders</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th class="text-center">Account Status</th>
                    <th class="text-center">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% if(users.length > 0){ %> 
                      <% users.forEach(user=> { %>
                        <tr>
                          <td><%= user.name %></td>
                          <td>@<%= user.username %></td>
                          <td class="text-center">
                            <%if(user.account_level !=3){ %>
                              <span class="badge bg-success">Active</span>
                            <%}else{%>
                              <span class="badge bg-danger">Banned</span>
                            <%}%>
                          </td>
                          <td class="text-center">
                            <div>
                              <% if(user.account_level != 3){ %>
                               <form action="/banAccount" method="POST">
                                   <input type="hidden" name="id" value="<%= user.id%>">
                                   <button type="submit" onclick="return confirm('Are you sure to ban this account?')" class="btn btn-danger btn-sm me-2" onclick=""><i class="fas fa-lock me-1"></i> Ban Account
                               </button>
                            </form>
                            <%}else{ %>

                               <form action="/unbanAccount" method="POST">
                                   <input type="hidden" name="id" value="<%= user.id %>">
                                   <button type="submit" onclick="return confirm('Are you sure to unban this account?')" class="btn btn-warning btn-sm me-2" onclick=""><i class="fas fa-unlock me-1"></i> Unban Account
                               </button>
                               </form>
                               <% } %>
                            </div>
                          </td>
                        </tr>
                      <% }); %>  
                    <% }%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Footer -->
  <%- include('../partials/footer') %> 

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
</div>

  <!-- Scripts -->
  <%- include('../partials/scripts') %> 
</body>
</html>